* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: content-box;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(115deg, #7bf 50%, transparent 50%) center center /
      100% 100%,
    url("https://picsum.photos/seed/picsum/1200/700") right center / auto 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.banner-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Noto Sans TC", sans-serif;
}

.banner-txt h1 {
  font-size: 80px;
  border-bottom: 1px solid #333;
  font-weight: 900;
}

.banner-txt h1 span {
  display: block;
  font-size: 53px;
  font-weight: 700;
}

.banner-txt h2 {
  font-size: 50px;
  font-weight: 700;
}

.banner-txt p {
  font-size: 30px;
  font-weight: 300;
  max-width: 40%;
}
